#
# Local STELLAR / ShuttleMol configuration
#
path_shuttlemol: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/
path_login_node: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/login_node/
path_cluster_nodes: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/cluster_nodes/
path_analize_results: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/analyze_results/
path_external_sw: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/external_sw/
path_extra_shuttlemol: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/extra_shuttlemol/
path_singularity: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/singularity/
#
# Hostname
#
nom_serv: cajal
#
# Queue manager
#
queue_name: Slurm - Simple Linux Utility for Resource Management
queue_manager: SBATCH
command_show_jobs: squeue 
command_get_id_job: echo ${job_id}| cut -d " " -f 4
command_dependency: sbatch --depend=afterok
queue_direc_output: #SBATCH --output=
queue_direc_error: #SBATCH --error=
queue_direc_queue: #SBATCH --qos=
queue_direc_project: #SBATCH -A 
queue_direc_mail_type: #SBATCH --mail-type=END
queue_direc_mail_user: #SBATCH --mail-user=
queue_direc_job_name: #SBATCH -J 
queue_direc_time: #SBATCH --time=
queue_direc_cpus: #SBATCH --cpus-per-task=
commnad_execute: sbatch
#
# Project / queue (hostname not listed in PROJECT.txt / QUEUE.txt)
#
cluster_project: N/A
cluster_queue: N/A
#
# Java
#
java_run: /usr/bin/java
java_version: 11.0.21
#
# Python
#
python_run: python3
python_version: 3.12.7
#
# Molecular Dynamics
#
g_mmpbsa: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/analyze_results/Simulation_gromacs/analyze_trajectory/extra/g_mmpbsa
g_gmx: /usr/local/gromacs/avx2_256/bin/gmx
g_amber_home: /home/alejandro/STELLAR_JCIM/STELLAR/GROMACS/external_sw/amber14/
